APScheduler==3.3.1
certifi==2022.12.7
cffi==1.11.0
chardet==3.0.4
funcsigs==1.0.2
futures==3.1.1
idna==2.6
numpy==1.13.3
pycparser==2.18
pytz==2017.2
requests==2.18.4
six==1.11.0
sounddevice==0.3.8
SoundFile==0.9.0.post1
tzlocal==1.4
urllib3==1.22
